.App {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  flex-wrap: wrap;
}
.wrapper {
  display: grid;
  grid-gap: 3px;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, calc(95vw / 5));
  grid-template-rows: repeat(5, calc(95vh / 5));
}
.Square {
  text-align: center;
  display: flex;
  align-items: center;
  background: tomato;
  /* height: 120px; */
  /* padding: 20px; */
}

.Square-selected {
  text-align: center;
  display: flex;
  align-items: center;
  background: greenyellow;
  /* height: 120px; */
  /* padding: 20px; */
}
