.App {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  flex-wrap: wrap;
}
.wrapper {
  display: grid;
  grid-gap: 3px;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, calc(95vw / 5));
  grid-template-rows: repeat(5, calc(95vh / 5));
}
.Square {
  background: tomato;
}
.Square-read {
  background: tomato;
  cursor: pointer;
}

.Square-text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 60px);
}

.Square-selected {
  background: greenyellow;
}
.Square-selected-read {
  background: greenyellow;
  cursor: pointer;
}

.Square-edit {
  display: flex;
  flex-direction: row-reverse;
}

.Square-edit > div {
  padding: 20px;
}
